body {
  margin: 1rem;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 15rem;
  height: 25rem;
  font-size: large;
  position: relative;
}

.btn {
  font-size: large;
  border-radius: 10px;
  border: transparent;
  background-color: #f0f0f576;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btnSave {
  width: 60%;
}

.btn:hover {
  background-color: #e0e0e5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.btn:active {
  background-color: #d0d0d5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.searchBar {
  font-size: large;
  border-radius: 10px;
  border: transparent;
  background-color: #f0f0f576;
  color: black;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
  flex-shrink: 0;
  /* Prevent shrinking */
  max-width: 60%;
  /* Ensure the input does not overflow */
  box-sizing: border-box;
  /* Include padding and border in element's total width and height */

}

.searchBar::placeholder {
  color: rgba(0, 0, 0, 0.3);
  /* Adjust the RGBA value for desired transparency */
}

.nav-link {
  text-decoration: none;
  /* Removes underline */
  color: #3498db;
  /* Change to your desired color */
}

.nav-link.active {
  color: #e74c3c;
  /* Change color for active link if needed */
}

.divider {
  border-top: 1px solid #ccc;
  margin-top: 15px;
  margin-bottom: 5px;
}